<header id="header" class="header">
    <div class="d-flex container justify-content-end">
      <a href="#" class="btn-login"><span> Login </span></a>
      <!-- <a href="#" class="btn-login"><span> Sign Up </span></a> -->
     
      
    </div>
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <img src="/assets/img/logo.png" alt="">
      <!--   <span>RouteX</span> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link " routerLink="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#how-it-works">How it works</a></li>
           <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li><a class="getstarted" routerLink="book-now">Book Now</a></li>
        </ul>
        <i class="bi bi-person-fill mobile-nav-account"></i>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
